<app-form-container>
  <div class="mb-3">
    <app-header i18n><h1 class="h2">Login</h1></app-header>
  </div>
  <form (submit)="submitForm()" [formGroup]="authForm">
    <div class="form-group">
      <mat-form-field>
        <mat-label>Login</mat-label>
        <input formControlName="login" matInput>
      </mat-form-field>
    </div>
    <div class="form-group">
      <mat-form-field>
        <mat-label>Password</mat-label>
        <input formControlName="rawPassword" matInput type="password">
      </mat-form-field>
    </div>
    <div class="form-group row justify-content-end">
      <div class="col-6 row justify-content-end">
        <button i18n mat-button mat-flat-button type="submit">
          Sign In
        </button>
      </div>
    </div>

  </form>
</app-form-container>
