<div class="container-fluid zone-dashboard">
  <div class="row mt-5 mb-3">
    <div class="col-12">
      <app-header>
        <h1 class="h1 font-purple">Monthly summary</h1>
      </app-header>
      <app-header>
        <h2 class="h2 font-purple">By category</h2>
      </app-header>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <app-month-picker (changeMonth)="setNewDateMonthly($event)" [currentMonth]="currentMonth"
                        [currentYear]="currentYear"></app-month-picker>
    </div>
  </div>
  <div class="row mt-5">
    <div class="col-md-7 col-sm-12">
      <div class="canvas zone-dashboard__category-chart-canvas">
        <canvas #chartByCategory id="canvas"></canvas>
      </div>
    </div>
    <ng-container *ngIf="zone$ | async as zone">
      <div class="col-md-5 col-sm-12">
        <div class="row">
          <div class="col-12">
            <div class="expenses-list ">
              <div class="expenses-list__header font-purple">
                <p i18n>Expenses in this month</p>
              </div>
              <div class="expenses-list__list mb-5">
                <div class="row expenses-list__row">
                    <span class="col-4 expenses-list__item">
                      Overall
                    </span>
                  <span class="col-8 expenses-list__item">
                      {{ zone.sum.overallSum }}
                    </span>
                </div>
                <ng-container *ngFor="let expense of zone.sum.sum">
                  <div class="row expenses-list__row">
                    <span class="col-4 expenses-list__item">
                      {{ expense.categoryName }}
                    </span>
                    <span class="col-8 expenses-list__item">
                      {{ expense.categoryValue }}
                    </span>
                  </div>
                </ng-container>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-12">
            <div class="expenses-list ">
              <div class="expenses-list__header font-purple">
                <p i18n>Top expensive expenses</p>
              </div>
              <div class="expenses-list__list">
                <ng-container *ngFor="let expense of zone.expenses">
                  <div class="row expenses-list__row">
                    <span class="col-2 expenses-list__item">
                      {{ expense.expenseValue }}
                    </span>
                    <span class="col-5 expenses-list__item">
                      {{ expense.expenseName }}
                    </span>
                    <span class="col-5 expenses-list__item">
                      {{ expense.categoryName }}
                    </span>
                  </div>
                </ng-container>
              </div>
            </div>
          </div>
        </div>
      </div>
    </ng-container>
  </div>
  <div class="row">
    <div class="col-12">
      <app-header>
        <h2 class="h2 font-purple">By day</h2>
      </app-header>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <div class="canvas zone-dashboard__date-chart-canvas">
        <canvas #chartByDate></canvas>
      </div>
    </div>
  </div>
</div>

