.dialog-content {
  width: 700px;
  margin: auto;
  border-radius: 20px;
  background-color: #fff;
  padding: 100px;
  color: #cf27c3;

  form {
    width: 500px;

    input {
      width: 100%;
    }
  }
}
