.add-members-form {
  .typing-title {
    font-weight: 700;
    padding-left: 5px;
  }

  .user-list-title {
    font-weight: 700;
    padding-left: 5px;
  }

  .members-list {
    padding: 5px;
    text-align: left;
    background-color: #d197b7;

    border-radius: 7px;

    .member {
      padding: 4px 25px;
    }
  }

  .found {

  }
}
